{% extends 'base.html' %}
{% load pybo_filter %}
{% load static %}
{% block content %}
<head>
  <script src="{% static 'js/Chart.bundle.min.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

</head>
  <div class="container">
    <div class="input-group mb-3 bg-dark">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" onkeyup='searchTable()' class="form-control search" placeholder="Search for names..." aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="row">
      <div class="col">
        <table
        id="userPoints"
        class="table table-light bg-light table-bordered  table-hover"
        >
          <thead class="thead-light">
            <tr>
              <th scope="col">순위</th>
              <th scope="col">초록점수</th>
              <th scope="col">이름(닉네임)</th>
              <th scope="col">???</th>
            </tr>
          </thead>
          <tbody>
          {% for user in topusers %}
            <tr class="table-row lineage">
              <th scope="row">
                {{ forloop.counter }}
              </th>
              <td class="points">
              {{ user.profile.greenpoint }}
              </td>
              <td class="firstName">
              {{ user.first_name }}
              </td>
              <td class="lastName">
              {{ user.last_name }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <canvas id="distChart" ></canvas>
        <script type="text/javascript">
          var ctx = document.getElementById('distChart');
          var myChart = new Chart(ctx, {
              type: 'doughnut',

              options: {
                  title: {
                    display: true,
                    text: 'Top 10 users'
                  },
                  responsive: true,
                  maintainAspectRatio: false,
                  pieceLabel: {
                  },
              }
          });
        </script>
      </div>
    </div>
</div>
<br class='visible-sm'>
<br class='visible-sm'>
<br class='visible-sm'>
<br class='visible-sm'>


{% endblock %}
