{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <h4>초록점수받기(test)</h4>
        </div>
    </div>
    <form method="post" class="post-form" action="{% url 'pybo:points_get' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="user">사용자ID</label>
            <input type="text" class="form-control" name="user" id="user"
                   readonly value="{{ user.username |default_if_none:'user.username' }}">
        </div>
        <input type="text" class="form-control" name="username" id="username"
        readonly value="{{ user.username |default_if_none:'user.username' }}">
        <button type="submit" class="btn btn-primary">점수주세요</button>
    </form>
</div>
{% endblock %}