{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>올바른 분리수거 팁</title>
        <link rel="stylesheet" href="/static/css/trash.css">
    </head>
    <body>
        <div>
            <img src="/static/image/tip_title.png" style="max-width:100%; height:auto;" alt="분리수거 팁을 알려드려요">
        </div>
        <div style="text-align:center;">
            <a class href = {% url 'pybo:plastic' %}><img src="/static/image/플라.png" style="max-width:48%; height:auto;" alt="플라스틱" ></a>
            <a class href = {% url 'pybo:vinyl' %}><img src="/static/image/비닐.png" style="max-width:48%; height:auto;" alt="비닐" ></a>
            <a class href = {% url 'pybo:balpo' %}><img src="/static/image/합성.png" style="max-width:48%; height:auto;" alt="발포합성수지" ></a>
            <a class href = {% url 'pybo:glass' %}><img src="/static/image/유리.png" style="max-width:48%; height:auto;" alt="유리" ></a>
        </div>
    </body>
</html>
    {% endblock %}