{% extends 'base.html' %}
{% load pybo_filter %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>플라스틱은 이렇게 버려요</title>
    <link href="{% static 'css/trash.css' %}" rel="stylesheet">
</head>
<body>
    <div id="btn_group">
        <button onclick="history.back()">뒤로가기</button>
        <button onclick="location.href='/'">지도보기</button>
    </div>
    <img src="/static/image/plastic.png" alt = "올바른분리수거_플라스틱" style="max-width:100%; height:auto;">
</body>
</html>
{% endblock %}